@model LePapeo.Models.RegistradoViewModel

@{
    ViewBag.Title = "MisDatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-inverse" style="margin-top:3em;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="MiPerfil">Mi perfil</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="MisNotificaciones">Mis notificaciones</a></li>
            <li><a href="ReservasProximas">Reservas próximas</a></li>
            <li><a href="ReservasAnteriores">Reservas anteriores</a></li>
            <li><a href="MisOpiniones">Mis opiniones</a></li>
            <li class="active"><a href="MisDatos">Mis datos</a></li>
            <li><a href="CambioPass">Cambiar contraseña</a></li>
            <li><a href="EliminarCuenta">Eliminar cuenta</a></li>
        </ul>
    </div>
</nav>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } }) (No tocar hasta que se sepa cambiar en ASP.NET)
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.FechaInscripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaInscripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaInscripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_nacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_nacimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha_nacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
