<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Content/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"   rel="stylesheet">
    <title>@ViewBag.Title - Le Papeo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="w3-white navbar navbar-inverse navbar-fixed-top" style="padding: 5px 0 5px 0; border-bottom: solid 2px #ff002d !important;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="../../imgs/logo.png" class="w3-image" style="width: 55px; margin-right: 15px;" />
                @Html.ActionLink("Le Papeo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand w3-text-crimson w3-fontOpenSans w3-text-bold" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { @class = "w3-text-size-menu w3-text-crimson w3-fontOpenSans" })</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home", new { @class = "w3-text-size-menu w3-text-crimson w3-fontOpenSans" })</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home", new { @class = "w3-text-size-menu w3-text-crimson w3-fontOpenSans" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Le Papeo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
