@model IEnumerable<LePapeo.Models.UsuarioViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class:"w3-container">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create", new { @class = "w3-text-crimson" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInscripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInscripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "w3-text-crimson" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "w3-text-crimson" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "w3-text-crimson" })
                </td>
            </tr>
        }

    </table>
</div>