@model IEnumerable<LePapeo.Models.HorarioDiaViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hora_ini_am)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_fin_am)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_ini_pm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_fin_pm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorarioSemana)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_ini_am)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_fin_am)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_ini_pm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_fin_pm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioSemana)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
