@model IEnumerable<LePapeo.Models.ReservaViewModel>

@{
    ViewBag.Title = "ReservasNoFinalizadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReservasNoFinalizadas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idusuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idrestaurante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comensales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finalizada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_solicitud)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idusuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idrestaurante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comensales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finalizada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_solicitud)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
